@media screen and (max-width:576px){
    .navbar i{
        display: block;
        font-size: 1.6rem;
    }

    .nav-items,
     li{
     display: none;
    }
    .banner-title{
      width: 90%;
        padding: 0;
        margin: 50px 20px 0px 20px;
    }
    .navbar,
     .main-section-1,
     .banner-section,
     .main-section-1,
     .footer-section-container,
     .main-section-5,
     .footer-title{
        margin: 10px 10px;
    }
     .main-section-4-container,
     .title-info{
        margin: 10px 20px;
    }
    .main-section3{
        margin: 50px 20px;
        max-width: 100%;
    }
    .main-section-2-container .main-section-2-image img{
        transform: scale(2);
        translate:-110px 35%;
     }
     .main-section-2-title{
      width: 250px;
      margin-right: 0px;
      
     }
    .main-section-2-container{
        margin: 15px 25px;
        justify-content: center;
    }
    .main-section-2-container-btn,
    .main-section-2-title{
      width: 90%;
    }
     .main-section-2-image{
        margin: 20px auto 20px auto;
    }
    .body{
        background-color: black;
        margin: 0 auto;
    }

    .card-container,
     .banner-section, 
     .main-section-2-container,
     .main-section-4-container,
     .footer-title{
        flex-direction: column;
    }
    .btn-title span{
      display: none;
    }
    .btn-title{
      width: 100%;

    }
    .btn-title  button{
      width: 45%;
    }
    .btn-color{
      font-size: 1rem;
      margin-left: 10px;
    }
    .banner-title .banner-text-title{
        text-align: left;
    }

    .banner-section,
    .images-title{
        margin: 0 auto;
    }

    .banner-section,
    .main-section1-title,
    .input-title{
        width: 100%;
    }
    .banner-image{
      height: 650px;
      width: 400px;
      margin: 50px 15px 0px 15px;
    }
    .banner-image-title-1{
      right: 250px;
      border-radius: 15px;
    }
    .banner-image-title-2{
      top: 100px;
      left: 220px;
    }
    .banner-description{
      width: 260px;
    }
    .main-section-4-table-heading{
        width: 80%;  
    }

    .banner-image img{
        width: 75%;
    }

    .main-section3-container{
        text-align: left;
        width: 100%;
        margin: 5px 5px;
    }

    .card{
        width: 330px;
        color: white;
        border: 2px solid tomato;
    }

    .card-container{
        margin: 50px 20px 30px 20px ;
     align-items: center;
    }
    .form-title-1, .form-title-2{
        width: 100%;
        gap:10px;
        margin-bottom: 10px;
      }
      .form-title-1 input{
        width: 45%;
      }
      .form-title-2 select{
        width: 49%;
      }
      .form-title-2 input{
        width: 41%;
      }
      .footer-title-3, .footer-title-2, .footer-title-1{
        margin: 10px 10px;
      }
      .footer-last-option,
      .main-section-2-text-description,
      .main-section-2-text-title{
        width: 100%;
      }
      .main-section-5-image-container{
        display: grid;
        padding: 20px;
        margin: 35px 40px 60px 40px;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
      }
      .images-title-1,
      .images-title-2,
      .images-title-3,
      .images-title-4,
      .images-title-5,
      .images-title-6{
        max-width: 420px;
        height: 350px;
      }
      .image-title-lite{
        display: grid;
        margin: 270px 0px 25px 15px;
      }
      .main-section-odvut3, 
      .main-section-odvut6{
        display: none;
      }
      .main-section-odvut2, 
      .main-section-odvut4{
        width: 250px;
      }
      .optional-1{
        margin: 20px 0px 0px 0px;
        width: 100%;
      }
      .optional-2{
        margin: 0px 0px 20px 0px;
        width: 100%;
      }
      .main-section-odvut1, 
      .main-section-odvut5{
        width: 55%;
      }
      .main-section-odvut5{
        margin-left: 0;
      }
      .footer-section{
        padding: 5px;
      }
    
    }