@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
*{
    margin: 0;
}
/* share styles */
.text-center{
    text-align: center;
}
.hide{
  display: none;
}
.flex{
    display: flex;
}
.shape{
  font-size: 4.7rem;
  font-weight: 400;
  font-family: "Dancing Script", cursive;
}
.btn-primary{
    color: white;
    padding: 16px 40px 16px 40px;
    border-radius: 40px;
    font-size: 1.20rem;
    font-weight: 600;
    border: none;
    background: rgb(230, 83, 60);
}
.body{
background-color: black;
}
.btn-color{
  color: white;
    padding: 16px 40px 16px 40px;
    border-radius: 40px;
    font-size: 1.20rem;
    font-weight: 600;
    margin-left: 10px;
    border: 2px solid darkgrey;
    background-color: #101010;
}
/* header section styles */
.header{
    max-width: 1440px;
    background-color: #222222;
    margin: 50px auto;
}
.navbar{
    justify-content: space-between;
    margin: 0px 190px 0px 190px;
    align-items: center;
}
.navbar h3{
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.navbar i{
    display: none;
}
.nav-items{
    justify-content: center;
    align-items: center;
    gap: 59px;
    padding: 0;
    padding-right:10px;
    border-radius: 40px;
    width: 430px;
    border: 2px solid gray;
}
.navbar .nav-items li a{
    text-decoration: none;
    color: white;
}
.navbar .nav-items li{
    list-style: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
}
.navbar .nav-items li a button{
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    color: white;
    border: none;
    background: rgb(230, 83, 60);
}

/* banner section styles  */
.banner-section{
    width: 1060px;
    align-items: center;
    background-position: right;
    margin: 30px 190px 0px 190px;
}
.banner-title{
    max-width:600px;
    padding-right:50px ;
}
.banner-text-title{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4rem;
    line-height: 80px;
    margin-bottom: 10px;
    font-weight: 900;
    color: white;
}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.banner-image{
  width: 370px;
  height: 600px;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../images/Images\ 2.png');
}
.banner-image-title-1{
  width: 190px;
  top: 400px;
  right: 280px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  padding: 15px;
}
.banner-image-title-1 div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-position: center;
  background-color: #E6533C;
}
.banner-image-title-1 p{
  color:  rgba(255, 255, 255, 0.5);
}
.banner-image-title-1 p span{
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.banner-image-title-1 div i{
  margin-top: 15px;
  margin-left: 15px;
}
.banner-image-title-2{
  width: 160px;
  position: absolute;
  top: 150px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  left: 250px;
}
.banner-image-title-2 p{
  text-align: left;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
.banner-image-title-2 p span{
  font-size: 2rem;
  text-align: left;
  color: white;
  font-weight: 900;
}
/* main section-1 styles */
main{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.main-section-1{
    margin:100px 190px 0px 190px ;
}
.main-section1-title{
    width: 670px;
    margin: 0 auto;
}
.main-section1-text-title{
    font-size: 3rem;
    color: white;
    font-weight: 800;
}
.main-section1-description-title{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.card-container{
    gap: 40px;
    margin-top: 55px;
}
.card{
    width: 230px;
    color: white;
}
.card-image{
    justify-content: center;
    margin-bottom: 20px;
}
.card-image img{
    width: 80%;
    border-radius: 50%;
}
.card-text-title{
    margin-bottom: 8px;
}
.card-description-title{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* main section-2 styles */
.main-section-2-container{
    align-items: center;
    justify-content: center;
    background: #222222;
    border-radius: 15px;
    margin: 100px 190px 0px 190px;
}
.main-section-2-title{
    width: 445px;
    margin:30px 160px 30px 40px;
    color: white;
}
.main-section-2-text-title{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.main-section-2-text-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.main-section-2-container .main-section-2-image img{
   transform: scale(3);
   translate:-140px 35%;
}

.main-section-2-image{
    margin-right: 20px;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.main-section-2-image img{
    width: 100%;
  }
  /* main-section3 styles */
  .main-section3{
    margin: 50px 190px 0px 190px;
  }
  .main-section3-container{
    text-align: left;
    width: 670px;
    margin-bottom: 50px;
  }
  .main-section3-text-title{
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
  }
  .main-section3-text-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }

  .main-section-odvut1{
    width:275px;
    height: 190px;
    background-image:linear-gradient(rgba(30, 228, 195, 0.5),rgba(30, 228, 195, 0.5)), url('../images/exercise1.jpg');
    background-size: 120% 100%;
    overflow: hidden;
  }
  .main-section-odvut1 p{
    color: white;
    font-size: 0.8rem;
    margin: 20px 20px;
  }

  .main-section-odvut2{
    width: 500px;
    height: 190px;
    background-image:linear-gradient(rgba(204, 5, 5, 0.500),rgba(204, 5, 5, 0.500)), url('../images/exercise2.png');
    background-size: 100% 115%;
    overflow: hidden;
  }
  .main-section-odvut2 p{
    color: white;
    font-size: 0.8rem;
    margin: 20px 20px;
  }

  .main-section-odvut3{
    width: 325px;
    height: 190px;
    background-image:linear-gradient(rgba(0,0,0,0.252),rgba(0,0,0,0.5)), url('../images/exercise3.png');
    background-size: 110% 110%;
    overflow: hidden;
  }
  .main-section-odvut3 p{
    color: white;
    font-size: 0.8rem;
    margin: 150px 20px 30px 15px;
  }

  .main-section-odvut4{
    width: 450px;
    overflow: hidden;
    background-image:linear-gradient(rgba(0, 0, 0, 0.371),rgba(0,0,0,0.5)), url('../images/exercise4.png');
    background-size: 100% 120%;
    height: 190px;
  }
  .main-section-odvut4 p{
    color: white;
    font-size: 0.8rem;
    margin:30px 5px 150px 250px;
  }

  .main-section-odvut5{
    width: 300px;
    height: 190px;
    background-image:linear-gradient(rgba(8, 240, 47, 0.364),rgba(8, 240, 47, 0.364)), url('../images/exercise5.jpg');
    margin-left: -30px;
    background-size: 120% 120%;
    transform: scale(1);
    overflow: hidden;
  }
  .main-section-odvut5 p{
    color: white;
    font-size: 0.8rem;
    margin: 150px 20px 30px 15px;
  }

  .main-section-odvut6{
    width: 340px;
    background-image:linear-gradient(rgba(94, 5, 211, 0.453),rgba(94, 5, 211, 0.453)), url('../images/exercise6.jpg');
    background-size: 100% 110%;
    overflow: hidden;
    height: 190px;
  }
  .main-section-odvut6 p{
    color: white;
    font-size: 0.8rem;
    margin: 150px 20px 30px 15px;
  }

  .main-section3{

  }

  /* main section-info styles */
  .title-info{
    max-width: 670px;
    margin: 90px 400px;
  }
  .info-title{
    font-size: 3.0rem;
    color: white;
    font-weight: 800;
  }
  .info-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }

  /* main section-4 style */
  .main-section4{
    max-width: 1440px;
    background: #222222;
    /* margin-bottom: 100px; */
    margin: 100px auto;
  }
  .main-section-4-container{
    margin: 90px 190px;
    justify-content: space-between;
  }
  .main-section-4-container h1{
    color: white;
  }
  .main-section-4-table-heading{
    width: 315px;
    margin-top: 30px;
  }
  .main-section-4-text-title{
    margin-bottom: 50px;
  }
  .table-1{
    width: 100%;
    border-collapse: collapse;
  }
  .table-1 thead tr th{
    color:white;
    text-align: left;
    font-weight: 400;
  }
  td,th{
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
   border: 1px solid #373737;
  }
  .table-2-text-title{
    font-size: 2rem;
    font-weight: 800;
  }
  .table-2-description-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  .input-title{
    width: 630px;
    margin-top: 30px;
  }
  .form-title-1, .form-title-2{
    width: 100%;
    gap:20px;
    margin-bottom: 15px;
  }
  .form-title-2 input{
    width: 42.05%;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #373737;
    font-size: 1.05rem;
    color: gray;
    border-radius: 10px;
  }
  .form-title-2 select{
    width: 305px;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #373737;
    font-size: 1.05rem;
    color: gray;
    border-radius: 10px;
  }
  .form-title-1 input{
    width: 305px;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #373737;
    font-size: 1.05rem;
    color: gray;
    border-radius: 10px;
  }
  .input-info{
    width: 100%;
    color: gray;
    padding:18px 20px;
    outline: none;
    border: none;
    background: #373737;
    font-size: 1rem;
    border-radius: 10px;
  }
  .submit{
    padding: 15px 70px 15px 70px;
    border-radius: 40px;
    margin-top: 30px;
    font-size: 1.20rem;
    font-weight: 400;
    border: none;
    color: white;
    margin-bottom: 50px;
    background: rgb(230, 83, 60);
  }
  
  /* main-section-5 styles */
  .main-section-5{
    margin: 90px 190px;
  }
  .main-section-5-text-title{
    max-width: 640px;
    margin: 0 auto;
  }
  .section-5-text-title{
    font-size: 3.05rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 800;
    color: white;
  }
  .section-5-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
  }
  .main-section-5-image-container{
    display: grid;
    background-color: #373737;
    gap: 20px;
    border-radius: 20px;
    padding: 15px;
    grid-template-columns: repeat(3, 1fr);
  }
  .image-title-lite{
    display: grid;
    margin: 200px 0px 25px 15px;
  }

  .images-title-1{
    max-width: 340px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url('../images/trainer1.png');
    border-radius: 20px;
    background-size: 100% 105%;
    overflow: hidden;
    height: 272px;
  } 
  .image-title-lite{
    display: grid;
  }
  .image-title-lite h3{
    margin-bottom: 5px;
    color: white;
    width: 100%;
  }
  .image-title-lite p{
    font-size: 0.9rem;
    width: 100%;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
  }


  .images-title-2{
    max-width: 340px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url('../images/trainer2.png');
    border-radius: 20px;
    overflow: hidden;
    background-size: 100% 100%;
    height: 272px;
  }
  .image-title-lite h3{
    margin-bottom: 5px;
    color: white;
    width: 100%;
  }
  .image-title-lite p{
    font-size: 0.9rem;
    width: 100%;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
  }


  .images-title-6{
    max-width: 340px;
    overflow: hidden;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url('../images/trainer6.png');
    border-radius: 20px;
    height: 272px;
    background-size: 100% 100%;
  }
  
  .image-title-lite h3{
    margin-bottom: 5px;
    color: white;
    width: 100%;
  }
  .image-title-lite p{
    font-size: 0.9rem;
    width: 100%;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
  }



  .images-title-3{
    max-width: 340px;
    overflow: hidden;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url('../images/trainer3.png');
    border-radius: 20px;
    height: 272px;
    background-size: 100% 110%;
  } 
  .image-title-lite-3 h3{
    margin-bottom: 5px;
    color: white;
    width: 100%;
  }
  .image-title-lite-3 p{
    font-size: 0.9rem;
    width: 100%;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
  }
  


  .images-title-4{
    max-width: 340px;
    overflow: hidden;
    height: 272px;
    border-radius: 20px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url('../images/trainer4.png');
    background-size: 118% 100%;
  } 
  .image-title-lite-4 h3{
    margin-bottom: 5px;
    color: white;
    width: 100%;
  }
  .image-title-lite-4 p{
    font-size: 0.9rem;
    width: 100%;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
  }


  .images-title-5{
    max-width: 340px;
    overflow: hidden;
    border-radius: 20px;
    height: 272px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url('../images/trainer5.png');
    background-size: 100% 110%;
  }
  .image-title-lite-5 h3{
    margin-bottom: 5px;
    width: 100%;
    color: white;
  }
  .image-title-lite-5 p{
    font-size: 0.9rem;
    width: 100%;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  /* footer section styles */
  .footer-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #373737;
  }
  .footer-section-container{
    margin:50px 190px 0px 190px;
  }
  .footer-title{
    max-width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .footer-text-title{
    font-size: 3.08rem;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 900;
    color: #E6533C;
  }
  .footer-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer-title h3{
    color: white;
    margin-top: 5px;
    font-size: 1.5rem;
  }
  .footer-title-2 p, .footer-title-3 p{
    margin-top:20px;
    color: darkgrey;
    font-size: 1.03rem;
  }
  .footer-title-1{
    width: 380px;
    margin-right: 100px;
  }
  .footer-title-3{
    margin-left: 100px;
  }
  .footer-last-option{
    margin: 25px auto;
    color: rgba(255, 255, 255, 0.5);
  }