@media screen and (max-width:576px){
  /* header */
  .header{
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
  }
  .navbar{
    width: auto;
    justify-content: space-between;
    margin: 0px 30px 10px 20px;
  }
  .navbar h3{
    font-size: 2rem;
  }
  .navbar i{
    font-size: 1.7rem;
    display: block;
    color: white;
  }
  .nav-items{
    display: none;
  }
  /* banner */
  .banner-section{
    margin: 20px 20px 0px 10px;
    width: auto;
  }


  .banner-section,
  .card-container,
  .main-section-2-container,
  .main-section-4-container,
  .main-section-6,
  .footer-title{
    flex-direction: column;
  }


  .banner-title{
    width: 95%;
    padding: 0px;
  }
  .banner-text-title,
  .main-section-2-text-title{
    font-size: 2.8rem;
    line-height: 55px;
    font-weight: 800;
  }
  .banner-description,
  .main-section-2-text-description{
    font-size: 0.8rem;
    font-weight: 400;
     width: 80%;
  }
  .btn-title{
    width: 100%;
    gap: 10px;
  }
  .btn-1{
    width: 49%;
    white-space: nowrap;
    padding: 12px 15px;
    font-size: 1rem;
  }
  .btn-1 span{
    display: none;
  }
  .btn-color{
    width: 49%;
    padding: 10px;
    margin-left: 0px;
    white-space: nowrap;
    font-size: 1rem;
  }
  .banner-image{
    width: 75%;
    height: 500px;
  }
  .banner-image-title-1{
    width: 150px;
    padding: 5px 10px;
    top: 220px;
    right: 110px;
  }
  .banner-image-title-1 div{
    margin-top: 13px;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
  .banner-image-title-1 p{
    font-size: 0.6rem;
    margin: 8px 0px;
    color:  rgba(255, 255, 255, 0.5);
  }
  .banner-image-title-1 div i{
    margin-top: 10px;
    margin-left: 13px;
  }
  .banner-image-title-1 p span{
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
  }
  .banner-image-title-2{
    top: 40px;
    padding: 7px 10px;
    width: 120px;
    left: 155px;
  }
  .banner-image-title-2 p span{
    font-size: 1.7rem;
    text-align: left;
    margin-bottom: 10px;
    color: white;
    font-weight: 900;
  }
  .banner-image-title-2 p{
    text-align: left;
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .btn-1:hover{
    background-color: #E6533C;;
  }
  .btn-color:hover{
    background-color: #140b0a;
  }
  /* main-section-1 */
  .main-section-1{
    margin: 10px 20px;
  }
  .main-section1-title{
    width: 100%;
  }
  .main-section1-text-title{
    font-size: 2.1rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .main-section1-description-title{
    font-size: 0.8rem;
    font-weight: 400;
  }
  .card-container{
    width: 80%;
    margin: 50px auto;
  }
  .card{
    width: 100%;
    color: white;
}
.card:hover{
  background:#101010;
  padding: 0px;
  transform: scale(1);
  transition: 1.2s;
}
  /* main-section-2 */
  .main-section-2-container{
    width: 83%;
    padding: 20px;
    padding-left: 10px;
    margin: 20px 20px;
  }
  .main-section-2-title{
    width: 90%;
    margin: 0px 20px;
  }
  .main-section-2-container-btn{
    width:100%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .main-section-2-image{
    width: 300px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .main-section-2-container .main-section-2-image img{
    transform: scale(2);
    translate:-80px 25%;
 }
 .main-section-2-container-btn:hover{
  background-color: #E6533C;
  transition: 1.2s;
  
}
 /* main-section-3 */
 .main-section3{
  margin: 50px 20px;
  max-width: 100%;
}
.main-section3-container{
  width: 100%;
}
.main-section3-text-title{
  font-size: 2.7rem;
}
.main-section3-text-description{
  font-size: 0.9rem;
  font-weight: 400;
}  
.optional-1{
  margin: 20px 0px 0px 0px;
  width: 100%;
}
.optional-2{
  margin: 0px 0px 20px 0px;
  width: 100%;
}
.main-section-odvut5{
  margin-left: 0px;
}
.main-section-odvut2,
.main-section-odvut4{
   width: 48%; 
  } 
.main-section-odvut1,
.main-section-odvut5{
  width: 55%;
}
.main-section-odvut3,
.main-section-odvut6{
display: none;
}
.main-section-odvut1 p,
.main-section-odvut2 p,
.main-section-odvut5 p,
.main-section-odvut4 p{
  font-weight: 700;
  font-size: 0.7rem;
  margin: 160px 10px 0px 20px;
}
.main-section-odvut4 p{
}
/* title-info */
.title-info{
  width: 90%;
  margin: 20px 20px;
}
.info-title{
  font-size: 2.7rem;
  margin-bottom: 10px;
  font-weight: 800;
}
.info-description{
  font-size: 0.9rem;
  font-weight: 400;
}
/* main-section-4 */
.main-section4{
  width: 100%;
}
.main-section-4-container{
  margin: 10px 20px;
}
.main-section-4-table-heading{
  width: 290px;
}
.input-title{
  width: 100%;
}
.form-title-1, .form-title-2{
  width:100%;
  gap: 10px;
}
.form-title-1 input{
  width: 50%;
  margin: 0px;
}
.form-title-2 input{
  width: 39.09%;
}
.form-title-2 select{
  width: 50%;
}
.submit:hover{
  transition: 1.2s;
  background-color: #E6533C;
}
/* main-section-5 */
.main-section-5{
  margin: 10px 20px;
}
.main-section-5-text-title{
  margin: 0px auto;
}
.main-section-5-image-container{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 gap: 20px;
 padding: 20px;
 margin: 50px auto;
}
.images-title-1,
.images-title-2,
.images-title-3,
.images-title-4,
.images-title-5,
.images-title-6{
 max-width: 100%;
}

.images-title-1:hover{
  transform: scale(1);
  transition: 1.2s;
}
.images-title-2:hover{
  transform: scale(1);
  transition: 1.2s;
}
.images-title-3:hover{
  transform: scale(1);
  transition: 1.2s;
}
.images-title-4:hover{
  transform: scale(1);
  transition: 1.2s;
}
.images-title-5:hover{
  transform: scale(1);
  transition: 1.2s;
}
.images-title-6:hover{
  transform: scale(1);
  transition: 1.2s;
}
/* main-section-6 */
.main-section-6{
  margin: 30px 20px;
}
.main-section-6-title{
  max-width: 100%;
}
.section-6-text-title{
  font-size: 2.5rem;
}
.main-section-6-image-title{
margin-top: 20px;
}
/* footer */
footer{
  max-width: 100%;
  margin: 0px;
}
.footer-section-container{
  margin: 0px;
}
.footer-title{
  margin: 10px 10px;
}
.footer-title-1{
  max-width: 100%;
  margin-bottom: 20px;
}
.footer-title-2{
  margin-bottom: 20px;
}
.footer-title-3{
  margin-left: 0px;
  margin-bottom: 20px;
}
}

/* tablet device media query */
@media screen and (min-width:576px) and (max-width:992px) {
  /* header */
  .header{
    padding-top: 40px;
    max-width: 100%;
  }
  /* banner */
  .banner-section{
    width: 100%;
    margin: 0px;
    flex-direction: column;
  }
  .banner-title{
    max-width: 100%;
    padding: 0px;
    margin: 0px 70px 100px 70px;
  }
  .shape{
    font-size: 6rem;
    font-weight: 400;
  }
  .navbar{
    margin: 0px 30px 70px 30px;
  }
  .banner-image-title-1{
    width: 190px;
    padding: 15px 15px;
    top: 460px;
    right: 280px;
  }
  .banner-image-title-2{
    top: 50px;
    padding: 10px 15px;
    width: 160px;
    left: 280px;
  }
  .banner-text-title{
    width: 80%;
    line-height: 90px;
    font-weight: 800;
    font-size: 5rem;
  }
  .banner-description{
    font-size: 1.4rem;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .btn-title{
    gap: 20px;
    width: 100%;
  }
  .btn-1, .btn-color{
    width: 40%;
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .banner-image{
    width: 500px;
    height: 750px;
  }
  /* main-section-1 */
  main{
    max-width: 100%;
  }
  .main-section-1{
    margin: 100px 50px 100px 50px;
  }
  .main-section1-text-title{
    font-size: 4rem;
    font-weight: 800;
  }
  .card-container{
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card{
    width: 40%;
    height: auto;
  }
  /* main-section-2 */
  .main-section-2-container{
    padding: 0px;
    margin: 0px 30px 100px 30px;
  }
  .main-section-2-text-title{
    font-size: 2.9rem;
  }
  .main-section-2-image{
    width: 250px;
    height: 310px;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main-section-2-container .main-section-2-image img{
    transform: scale(6);
    translate:-150px 150%;
 }
 /* main-section-3 */
 .main-section3{
  margin: 0px 30px 100px 30px;
 }
 .main-section3-container{
  width: 100%;
 }
 .main-section3-text-title{
  font-size: 4rem;
  font-weight: 800;
 }
 .main-section-odvut1 p{
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  margin:150px 20px 0px 15px;
}
 .main-section-odvut4 p{
  color: white;
  font-size: 0.8rem;
  margin:150px 50px 0px 15px;
}
 /* title-info */
 .title-info{

  margin: 0px 30px 100px 30px;
 }
 .info-title{
  font-size: 4rem;
  margin-bottom: 5px;
 }
 /* main-section-4 */
 .main-section4{
  width: 100%;
  margin-bottom: 100px;
 }
 .main-section-4-container{
  margin: 0px 30px;
  flex-direction: column;
 }
 .main-section-4-table-heading{
  width: 50%;
 }
 td,th{
  font-size: 1.3rem;
 }
 .input-title{
  width: 100%;
 }
 .form-title-1, .form-title-2{
  width: 100%;
  gap:10px;
  /* margin-bottom: 15px; */
}
.form-title-1 input{
  width: 50%;
}
.form-title-2 select{
  width: 50%;
}
.form-title-2 input{
  width: 45%;
}
/* main-section-5 */
.main-section-5{
  width: 100%;
  margin: 0px ;
}
.main-section-5-image-container{
  width: 90%;
  margin: 0px 30px 100px 30px;
  padding: 10px;
  gap: 10px;
}
.images-title-1,
.images-title-2,
.images-title-3,
.images-title-4,
.images-title-5,
.images-title-6{
  width: 220px;
}

/* main-section-6 */
.main-section-6{
  margin: 0px 30px 100px 30px;
}
.main-section-6-title, 
.main-section-6-image-title{
  width: 40%;
}
.section-6-text-title{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 50px;
}
.main-section-6-image-title img{
  width: 100%;
  height: 100%;
}
.main-section-6-image-title{
  height: 350px;
}
/* footer */
.footer-section-container{
  margin: 0px 30px 0px 30px;
}
.footer-title{
  flex-wrap: wrap;
}
.footer-title-1{
  width: 80%;
  margin: 0px 0px 50px 0px;
}
.footer-title-3, .footer-title-2{
  margin: 0px;
  width: 50%;
}
}
